@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes dropdownin {
    from {height: 0;}
    to {height: 30px;}
}

@keyframes dropdownout {
    from {height: 30px;}
    to {height: 0;}
}