body {
	display: block;
	overflow-y: auto;
	font-family: 'Microsoft YaHei', sans-serif;
	background-color: #fafafa;
	z-index: 1;
	margin: 8px;
}

@media (max-width: 500px)  {
	body {
		margin: 0;
	}
}