#dropdown-btn {
	margin-left: 10px;
	font-size: 21px;
}

#dropdown {
	display: block;
	width: 100%;
	max-width: 400px;
	margin: 0 auto 0 auto;
	animation: fadeEffect .3s;
	transition: .5s;
	-webkit-transition: .5s;
	border-top: solid 1px #dfdfdf;
	border-left: solid 1px #dfdfdf;
	border-right: solid 1px #dfdfdf;
}

#dropdown a {
	display: block;
	height: 30px;
	text-align: center;
	width: 100%;
	padding-top: 5px;
	background-color: #efefef;
	color: #ababab;
	border-bottom: solid 1px #dfdfdf;
	animation: dropdownin .5s;
}

#dropdown a:hover {
	color: #337ab7;
	background-color: #fefefe;
	cursor: pointer;

}

.ctrl-blk {
	display: block;
	position: relative;
	width: 100%;
	max-width: 400px;
	border: solid 1px #efefef;
	animation: fadeEffect .3s;
	color: #454545;
	background-color: #ffffff;
	margin: 0px auto 0px auto;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
	transition: .5s;
	-webkit-transition: .5s;
}

/* Light Control Block */
.light-blk {
	display: block;
	position: relative;
	width: 100%;
	max-width: 400px;
	border: solid 1px #efefef;
	animation: fadeEffect .3s;
	color: #454545;
	background-color: #ffffff;
	margin: 20px auto 0px auto;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
	height: 200px;
	transition: .5s;
	-webkit-transition: .5s;
}

/* 
	track
	thumb
*/

.light-slider {
	position: relative;
	margin: 0px auto 0px auto;
	top: 75px;
    -webkit-appearance: none;
    width: 300px;
    height: 30px;
    background: #dedede;
    outline: none;
    -webkit-transition: .5s;
    transition: .5s;
    border: solid 1px #dedede;
    border-radius: 2px;
    color: transparent;
}

.light-slider:hover {
	border: solid 1px #63aae7;
	color: #438ac7;
}


.light-slider-bar {
	width: 0px;
  	height: 30px;
  	background-color: #ffffff;
}

#brt-perc {
	position: absolute;
	top: 0px;
	width: 300px;
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
}

.ac-blk {
	display: block;
	position: relative;
	width: 100%;
	max-width: 400px;
	border: solid 1px #efefef;
	animation: fadeEffect .3s;
	color: #454545;
	background-color: #ffffff;
	margin: 20px auto 0px auto;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
	height: 200px;
	transition: .5s;
	-webkit-transition: .5s;
}

#temp-part {
	position: absolute;
	width: 80px;
	right: 30px;
	top: 65px;
	border: solid 1px #efefef;
	border-radius: 5px;
	overflow: hidden;
}

#temp-up-btn {
	display: block;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	background: #438ac7;
	color: #fff;
	transition: .5s;
}

#temp-up-btn:hover {
	background: #63aae7;
}

#temp-down-btn {
	display: block;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	background: #438ac7;
	color: #fff;
	transition: .5s;
}

#temp-down-btn:hover {
	background: #63aae7;
}

#temp-value {
	display: block;
	font-size: 40px;
	text-align: center;
	color: #438ac7;
	font-weight: lighter;
}

#fan-up-btn {
	position: absolute;
	bottom: 40px;
	left: 200px;
	width: 45px;
	height: 45px;
	font-size: 40px;
	text-align: center;
	cursor: pointer;
}

#fan-down-btn {
	position: absolute;
	bottom: 40px;
	left: 40px;
	width: 45px;
	height: 45px;
	font-size: 40px;
	text-align: center;
	cursor: pointer;
}

#fan-value {
	position: absolute;
	left: 130px;
	bottom: 30px;
	font-size: 40px;
	text-align: center;
}

#fan-part {
	position: absolute;
	width: 212px;
	border: solid 1px #438ac7;
	border-radius: 3px;
	bottom: 26px;
	left: 30px;
	color: #438ac7;
}

#fan-low {
	display: inline-block;
	width: 60px;
	padding: 5px 5px 5px 5px;
	text-align: center;
	margin: auto;
	background: #438ac7;
	color: #fff;
	transition: .5s;
}

#fan-med {
	display: inline-block;
	width: 60px;
	padding: 5px 5px 5px 5px;
	text-align: center;
	margin: auto;
	border-left: solid 1px #438ac7;
	border-right: solid 1px #438ac7;
	transition: .5s;
}

#fan-high {
	display: inline-block;
	width: 60px;
	padding: 5px 5px 5px 5px;
	text-align: center;
	margin: auto;
	transition: .5s;
}

.mode-switch {
	position: absolute;
	top: 70px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition: .5s;
	fill: #efefef;
}

#mode-cool {
	left: 40px;
}

#mode-heat {
	left: 120px;
}

#mode-auto {
	left: 200px;
}

@media (max-width: 500px)  {
	.ctrl-blk, .light-blk, .ac-blk  {
		max-width: 500px;
		border-left: none;
		border-right: none;
	}

	#dropdown {
		max-width: 500px;
		border-top: none;
		border-left: none;
		border-right: none;
	}
}