.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    flex-direction: column;
    transition: .5s;
}

.item-text {
    color: #222222;
    transition: .5s;
}

.item-text-on {
    color: #438ac7;
    text-shadow: 0 0 10px #a3eaf7;
    transition: .5s;
}

.item-indicator {
    margin-top: 5px;
    height: 2px;
    width: 20px;
    background-color: #dddddd;
    transition: .5s;
}

.item-indicator-on {
    margin-top: 5px;
    height: 2px;
    width: 40px;
    background-color: #a3eaf7;
    box-shadow: 0 0 10px #a3eaf7;
    transition: .5s;
}