html, body {
	color: white;
	background: #2f3045;
	height: 100%;
	width: 100%;
	margin: 0px;
	font-family: 'Microsoft YaHei', sans-serif;
	cursor: default;
}

header {
	padding: 3% 10% 2% 10%;
	display: flex;
	flex-direction: column;
	height: auto;
}

#header-upper {
	display: flex;
	flex-direction: row;
	padding: 15px;
	align-items: center;
	justify-content: flex-end;
}

#user-name {
	margin: 0 10px 0 10px;
	cursor: pointer;
	font-size: 120%;
	font-weight: lighter;
}

#user-avatar {
	margin: 5px;
	margin-bottom: 0;
	cursor: pointer;
}

#header-lower {
	display: flex;
	flex-direction: row;
	padding: 10px;
	padding-top: 0px;
	justify-content: space-between;
}

#time-date {
	display: flex;
	flex-direction: row;
}

#time {
	font-weight: lighter;
	font-size: 250%;
	margin: 5px;
}

#date {
	font-weight: lighter;
	font-size: 150%;
	margin: 5px;
	bottom: 0px;
}

#navibar {
	display: flex;
	margin: 5px;
	align-self: flex-end;
	font-size: 150%;
	font-weight: lighter;
}

.navi-element {
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
}

.navi-element:hover {
	color: #cccccc;
}

#navi-scene {
	color: #f3d70e;
}

main div:nth-of-type(1) {flex-grow: 1;}
main div:nth-of-type(2) {flex-grow: 3;}

main {
	display: flex;
	flex-direction: column;
	height: 450px;
	padding: 0% 10% 0% 10%;
	overflow: hidden;
}

#upper {
	display: flex;
	flex-direction: row;
	height: 50%;
	margin-bottom: 5px;
}

#lower {
	display: flex;
	flex-direction: row;
	height: 50%;
}

.block {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2.5px 0 2.5px;	
	height: 100%;
	width: 25%;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #57968e;
	height: 100%;
	cursor: pointer;
}

.content:hover {
	/*background: #67a69e;*/
	/*height: 98%;
	border: 2px solid #ffffff;*/
}

#content-1 {
	background: #5b5f9e;
	height: 98%;
	border: 2px solid #ebeffe;
}

#content-1:hover {
	background: #6b6fae;
}

.block-icon {
	height: 60px;
	width: 60px;
}

.block-description {
	margin-top: 15px;
}